/logs
/obj
/data
dcoll
nohup.out

.vs

httpd
/.vscode
/obj
/logs
/data
/temp
nohup.out
/build
/Testing
/bin
/docs/*.dtmp
/docs/*.bkp
/*.csv
/Makefile
/doc/*.bkp
/doc/*.dtmp
/.vs/vs2022_project/FileContentIndex/*.vsidx
/.vs/vs2022_project/FileContentIndex/*.lock
